#JWT
JWT_SECRET=
JWT_AUDIENCE=
JWT_ISSUER=
JWT_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=

#API
API_OAUTH_PORT=
API_OAUTH_PREFIX=

#MONGODB OAUTH USER
MONGO_OAUTH_HOST=
MONGO_OAUTH_USER=
MONGO_OAUTH_PASS=
MONGO_OAUTH_PORT=
MONGO_OAUTH_DATABASE=
MONGO_OAUTH_DB_AUTH=